@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.education{
  height: fit-content;
  overflow: hidden;
}

.content{
  color: white;
  background-color: transparent
}

.bg-color{
  color: #221c18;
  background: linear-gradient(#60d7c5, #4df0f8);
  overflow: hidden;
}


.border{
  box-shadow: 0 2px 8px rgba(35, 34, 34, 0.6);
  border-radius: 6px;
}


.contact-input{
  border: 1px solid #54a399;
  background-color: #192f2b;
  color: #d1f0ec;
}

.btn{
  width: fit-content;
  margin-top: 1rem;
  padding: 0.4rem 0.6rem;
  border: none;
  border-radius: 4px;
  background: #12352f;
  color: #edfcfa;
  font-size: 1.2rem;
  cursor: pointer;
}

 .btn:hover {
  background: #051715;
}



 img{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}


@keyframes zoomOut {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

.zoom-out {
  animation: zoomOut 2s ease-in forwards;
}
