@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

body {
  background: radial-gradient(#186a5e, #053339);
}
html {
  scroll-behavior: smooth;
}

.content{
  color: #221c18;
  background: linear-gradient(#4df8df, #4df0f8);
}

.border{
  box-shadow: 0 2px 8px rgba(35, 34, 34, 0.6);
  border-radius: 6px;
}


.btn{
  width: fit-content;
  margin-top: 1rem;
  padding: 0.4rem 0.6rem;
  border: none;
  border-radius: 4px;
  background: #12352f;
  color: #edfcfa;
  font-size: 1.2rem;
  cursor: pointer;
}

 .btn:hover {
  background: #051715;
}



 img{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

 img::after{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: red;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 20px;
}

@keyframes zoomOut {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}

.zoom-out {
  animation: zoomOut 2s ease-out forwards;
}
