@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}


html {
  scroll-behavior: smooth;
}

.education{
  height: fit-content;
  overflow: hidden;
}

.content{
  margin-top: -1%;
  color: #221c18;
  /* background: linear-gradient(#ff1d58, #f75990); */
  background-color: #FFF9F0 ;
  color: #2C2C2C ;
}

.header-footer{
  color: #221c18;
  /* background: linear-gradient(#ff1d58, #f75990); */
  background-color: #F8F9FA ;
}


.border{
  box-shadow: 0 2px 8px rgba(35, 34, 34, 0.6);
  border-radius: 6px;
}

.btn{
  width: fit-content;
  margin-top: 1rem;
  padding: 0.4rem 0.6rem;
  border: none;
  border-radius: 4px;
  background-color: #FFC75F;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn:hover{
  background-color: #E1AD01 ;
}

 img{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  filter: drop-shadow(10px 10px 10px #000);
}

input,textarea {
  background-color: #FFF9F0;  /* Soft Creamy White */
  border: 2px solid #FFC75F;  /* Golden Yellow Border */
  color: #2C3E50;  /* Dark Blue Text for readability */
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

input,textarea:focus {
  border-color: #E1AD01;  /* Mustard Yellow on Focus */
  box-shadow: 0 0 5px #FFC75F;  /* Soft Glow Effect */
}


@keyframes zoomOut {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

.zoom-out {
  animation: zoomOut 2s ease-in forwards;
}
